<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inventory</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/styles/inventory.css" />
</head>

<body>
  <form action="" method="post">
    <header>
      <li>
        <img src="/images/logo.png" alt="logo" width="80vw" height="80vh" />
      </li>

      <li>
        <a href="./homePage.ejs?=<%=userName%>" style="text-decoration: none">Home</a>
      </li>

      <li>
        <a href="./shop.ejs?=<%=userName%>" style="text-decoration: none">Shop</a>
      </li>

      <li id="current">
        <a href="./inventory.ejs?=<%=userName%>" style="text-decoration: none">Inventory</a>
      </li>

      <li>
        <a href="./clan.ejs?=<%=userName%>" style="text-decoration: none">Clan</a>
      </li>

      <li class="resourses">
        <img src="/images/coins.png" alt="coins" width="20vw" height="20vh" />&nbsp;<input type="text" id="coins"
          name="coins" value="<%=coins%>" contenteditable="false" />
      </li>

      <li class="resourses">
        <img src="/images/gems.png" alt="gems" width="20vw" height="20vh" />&nbsp;<input type="text" name="gems"
          value="<%=gems%>" contenteditable="false" />
      </li>

      <li id="profile">
        <a href="./profile.ejs?=<%=userName%>"><span class="material-symbols-outlined"> account_circle </span></a>
      </li>
    </header>

    <div class="empty"></div>

    <div class="main">

      <div class="buttons">

        <button id="equipped" class="tab active" type="button">Equipped</button>
        <button id="storage" class="tab" type="button">Storage</button>
        <button id="quests" class="tab" type="button">Quests</button>

      </div>

      <div class="content">

        <div class="contentEquipped visible">

          <% const itemType=["sword","shield","armour","helmet"] %>
            <% const itemStats=["attack","persistence","defence","intelligence"] %>
              <% const itemNames={"s1":"Wooden Sword","s2":"Metal Sword","s3":"Golden Sword","s4":"Diamond Sword","sh1":"Wooden Shield","sh2":"Metal Shield","sh3":"Golden Shield","sh4":"Diamond Shield","a1":"Wooden Armour","a2":"Metal Armour","a3":"Golden Armour","a4":"Kevlar Armour","h1":"Wooden Helmet","h2":"Metal Helmet","h3":"Golden Helmet","h4":"Kevlar Helmet",} %>

                <%for(var i=0;i<4;i++){%>

                  <div id=<%=itemType[i]%> class="item">

                    <% const urlMain="/images/" +equipped[itemType[i]]+".png" %>

                      <% if(equipped[itemType[i]]=="empty" ){ %>

                        <div class="background" style="background-image: url(/images/empty.png)"></div>

                        <div class="stats">

                          <h1>Not Equipped</h1>

                          <div class="statsFooter">

                            <% const urlStats="/images/" +itemStats[i]+".png"%>
                              <img src=<%=urlStats%>
                              alt=""
                              width="20vw"
                              height="20vh"
                              />
                              <span>0</span>
                              <button class="changeTo" type="button">Equip</button>

                          </div>

                        </div>

                        <% }else{ %>

                          <div class="background" style="background-image: url(<%=urlMain%>)"></div>

                          <div class="stats">

                            <h1>
                              <%=itemNames[equipped[itemType[i]]]%>
                            </h1>

                            <div class="statsFooter">

                              <% const urlStats="/images/" +itemStats[i]+".png"%>
                                <img src=<%=urlStats%>
                                alt=""
                                width="20vw"
                                height="20vh"
                                />
                                <span>
                                  <%=10*equipped[itemType[i]][equipped[itemType[i]].length-1]%>
                                </span>
                                <button class="removeItem" type="submit" name="button"
                                            value="remove_<%=itemType[i]%>">
                                            Remove</button>
                            </div>

                          </div>

                          <% } %>

                  </div>

                  <% } %>

        </div>

        <div class="contentStorage invisible">

          <%for(var i=0;i<inventory.length;i++){%>

            <% const urlMain="/images/" +inventory[i]+".png" %>

                                  <div id=<%=inventory[i]%> class="item">

                                    <div class="background" style="background-image: url(<%=urlMain%>)"></div>

                                    <div class="stats">

                                      <h1>
                                        <%=itemNames[inventory[i]]%>
                                      </h1>
                                      <div class="statsFooter">
                                        <% const itemStatsImageUrl = "/images/"+itemStatsTypeUrl[i]+".png" %>
                                        <img src=<%=itemStatsImageUrl%>
                                        alt=""
                                        width="20vw"
                                        height="20vh"
                                        />
                                        <span>
                                          <%=10*inventory[i][inventory[i].length-1]%>
                                        </span>
                                        <% if(Object.values(equipped).includes(inventory[i])){ %>
                                          <button class="removeItem" type="submit" name="button"
                                            value="remove_<%=(itemNames[inventory[i]].split(" ")[1]).toLowerCase()%>_<%=inventory[i]%>">
                                            Remove</button>
                                          <% }else{ %>
                                            <button id="equip" type="submit" name="button"
                                              value="equip_<%=(itemNames[inventory[i]].split(" ")[1]).toLowerCase()%>_<%=inventory[i]%>">
                                              Equip</button>
                                            <% } %>

                                      </div>

                                    </div>

                                  </div>

                                  <% } %>

        </div>

        <div class="contentQuests invisible">
          <%for(var i=0;i<quests.length;i++){%>

                                  <div id=<%= "quest"+[i] %> class="item">
                                    <% const questBackgroundUrl = "/images/"+quests[i]+".png" %>
                                    <div class="background" style="background-image: url(<%=questBackgroundUrl%>)"></div>

                                    <div class="stats">

                                      <h1>
                                        <%=quests[i] %>
                                      </h1>
                                      <div class="statsFooter">
                                        <% const questStatsUrl = "/images/"+questType[i]+".png" %>
                                        <img src=<%=questStatsUrl%>
                                        alt=""
                                        width="20vw"
                                        height="20vh"
                                        />
                                        <% if(quests[i]==questRunning){ %>
                                          <button id="stopQuest" type="button"><a href="./clan.ejs?=<%=userName%>">Stop</a></button>
                                          <% } else{ %>
                                            <button id="startQuest" type="button"><a href="./clan.ejs?=<%=userName%>">Start</a></button>
                                            <% } %>
                                      </div>

                                    </div>

                                  </div>

                                  <% } %>
        </div>
      </div>
    </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/js/inventory.js"></script>
</body>

</html>